body {
  background-color: rgb(236, 236, 237);
  height: 100%;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

a:hover {
  text-decoration: none;
  color: hotpink;
}

.baseFrame {
  position: fixed;
  left: 0;
  height: 100px;
  padding: 10px;
  width: 100%;
  background-color: lightgrey;
}

.header {
  top: 0;
  border-bottom: 1px dotted grey;
}

.footer {
  bottom: 0;
  border-top: 1px dotted grey;
}

.menu {
  position: fixed;
  font-family: "Raleway";
  font-size: 68px;
  color: rgb(68, 68, 68);
  overflow: hidden;
}

.center {
  background-size: cover;
  min-height: 800px;
  position: relative;
  margin: auto;
  font-family: "Raleway";
  font-size: medium;
  color: rgb(68, 68, 68);
  width: 40%;
  padding: 10px;
}

social {
  margin-top: 10px;
  margin: 5px;
  color: grey;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-paper-plane:hover {
  color: hotpink;
}