@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono|Roboto+Mono&display=swap");

body {
  color: #657b83;
  background-color: #001b22;
  font-family: "Roboto Mono", "Oxygen Mono", -apple-system, BlinkMacSystemFont,
    "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 120px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 16px;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #b58900;
}

a {
  color: #657b83;
  text-decoration: none;
}

a:hover {
  color: rgb(190, 190, 190);
}

.navStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navActive {
  color: rgb(222, 222, 222);
  font-weight: bold;
  text-decoration: underline;
}

.textStyle {
  padding: 25px;
  max-width: 750px;
  margin: auto;
  text-align: justify;
}

.splash {
  text-align: left;
  padding-left: 2%;
  size: medium;
}

.footer {
  border-top: 2px solid #b58900;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #00141a;
  text-align: center;
}

.social {
  margin: 15px;
}

.social:hover {
  color: rgb(190, 190, 190);
}

.widgetStyle {
  font-size: small;
}

#container {
  width: 100%;
}

#right {
  float: right;
  width: 100px;
}

#center {
  margin: 0 auto;
  width: 200px;
}
