@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  color: #93a1a1;
  background-color: rgb(79, 79, 79);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 120px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  color: #93a1a1;
  padding: 16px;
}

.navStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b58900;
}

.textStyle {
  width: 70%;
  margin: auto;
}

.splash {
  text-align: left;
  padding-left: 2%;
  font-size: medium;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

social {
  margin: 20px;
  color: #93a1a1;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: #b58900;
}
