@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  color: #657b83;
  background-color: #002b36;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 120px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 16px;
  text-decoration: none;
}

h1 {
  color: #b58900;
}

a {
  color: #657b83;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

.navStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navActive {
  color: hotpink;
  font-weight: bold;
  text-decoration: underline;
}

.textStyle {
  width: 70%;
  margin: auto;
}

.splash {
  text-align: left;
  padding-left: 2%;
  font-size: medium;
}

.footer {
  border-top: 2px solid #b58900;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #073642;
  text-align: center;
}

social {
  margin: 20px;
  color: #657b83;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: hotpink;
}
